# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# see https://help.github.com/en/articles/about-code-owners

# Order is important. The last matching pattern has the most precedence.

*.resjson* @microsoft/applicationinsights-devtools csigs @microsoft/csigs
